
# ===== Java / Ant =====
build/
dist/
*.class

# ===== Logs =====
*.log

# ===== NetBeans =====
nbproject/private/

# ===== VS Code =====
.vscode/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Temp files =====
*.tmp
